<div class="container">
   <div class="row">
      <div class="col-md-offset-1 col-md-10 col-md-offset-1">
         <%- model_class = Customer -%>
         <div class="page-header">
            <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
         </div>
         <div class="form-group">
            <h4>Filter By Name:</h4>
         </div>
         <div class="form-group">
            <div class="row">
               <%= form_tag(customers_path, :method => :get) do %>
                  <div class="col-md-4">
                     <div class="input-group">
                        <%= text_field_tag 'search', '', :class => 'form-control', :placeholder => "Search" %>
                        <div class="input-group-btn">
                           <button class="btn btn-info" type="submit">
                              <span class="glyphicon glyphicon-search"></span>
                           </button>
                        </div>
                     </div>
                  </div>
               <% end %>
            </div>
         </div>
         <div class="form-group">
            <hr>
         </div>
         <div class="form-group">
            <div class="responsive">
               <table class="table">
                  <thead>
                     <tr>
                        <th><%= model_class.human_attribute_name(:name) %></th>
                        <th class="text-center"><%= model_class.human_attribute_name(:birthday) %></th>
                        <th class="text-center">SELECT</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% @customers.each do |customer| %>
                     <tr>
                        <td><%= customer.name %></td>
                        <td class="text-center"> <%= customer.birthday.strftime('%d/%m/%Y') %></td>
                        <td class="text-center"><%= link_to image_tag("/img/select.png", :class => 'imgAction'), customer_show_path(customer) %></td>
                     </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="form-group">
            <hr>
         </div>
         <div class="form-group">
            <%= will_paginate @customers %>
            <%= link_to t('.new', :default => t("helpers.links.new")), customer_new_path, :class => 'btn btn-success pull-right col-md-2', :value => 'Create' %>
         </div>
      </div>
   </div>
</div>

