<script>
   $(document).ready(function() {
     $("#divLogin").hide('fast', function() {
       $(this).fadeIn('slow', function() {
       });
     });
   });
</script>
<div class="container">
   <div class="row">
      <div class="col-md-4">
         <div class="form-group">
            <h2>:Login:.</h2>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-4">
         <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, :class => 'form-control', autofocus: true, :value => "admin@admin.com" %>
         </div>
         <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, :class => 'form-control', autocomplete: "off", :value => "anderson" %>
         </div>
         <% if devise_mapping.rememberable? -%>
         <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
         </div>
         <% end -%>
         <div class="form-group">
            <%= f.submit "Login", :class => "btn btn-success pull-right col-md-3" %>
         </div>
         <% end %>
      </div>
   </div>
</div>
<div class="container">
   <div class="row"><%= render "devise/shared/links" %></div>
</div>

