<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>:Details.</h1>
    </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <div class="col-md-4">
            <div class="row"><%= link_to @car.avatar.url do %><%= image_tag @car.avatar.url, :class => "img-responsive img-rounded" %><% end %></div>
         </div>
         <div class="col-md-1">
            <p></p> 
         </div>
         <div class="col-md-7">
            <div class="row">
               <p class="modelTitle"><%= @car.model %></p>
            </div>
            <div class="row">
               <p></p>
            </div>
            <div class="row">
               <strong>Plate: </strong> <%= @car.plate %>
            </div>
            <div class="row">
               <strong>Year: </strong> <%= @car.year %>
            </div>
            <div class="row">
               <strong>Market Value: </strong> <%= number_to_currency(@car.marketval, unit: "R$", separator: ",", delimiter: "") %>
            </div>
            <div class="row">
               <strong>Model: </strong> <%= @customer.name %>
            </div>
            <div class="row">
               <strong>Plate: </strong> <%= @customer.email %>
            </div>
            <div class="row">
               <p></p>
            </div>
            <% if user_signed_in? %>
               <div class="row">
                  <%= link_to 'Edit', "/customers/#{@car.Customer_id}/cars/#{@car.id}", :class => 'btn btn-warning pull-right col-md-2' %>
               </div>
            <% end %>
         </div>
      </div>
   </div>
</div>




